.container {
    position: relative;
    width: 200px;
    height: 150px;
}

.container img {
    width: 100%;
    height: 100%;
}


@media (max-width: 1920px) {
    .container {        
        width: 20rem;
        height: 15rem;
    }
}