.container {
    position: relative;
    width: 250px;
    height: 160px;
}

.container img {
    width: 100%;
    height: 100%;
}


@media (min-width: 1920px) {
    .container {        
        width: 25rem;
        height: 15rem;
    }
}