body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;    
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/Img/Background/Sorteo_Background.jpg);    
    background-repeat: no-repeat;
    background-size: cover;    
    
}



.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: auto auto 0.4fr;     
    grid-template-areas:
        "Area-uno . . Area-3"
        ". ruleta ruleta ."
        "Area-2 Bar Bar Area-4";      
    cursor: url('../../../assets/LaVaritaDeHarry/VaritaCursorBody.png') 0 0, auto;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    
}

.LetraPotter .HarryFont {
    text-align: center;
    color: rgb(197, 174, 4);
    text-shadow: rgb(0, 151, 245) 0 0 20px;
    font-size: 80px;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#sombrero {
    position: absolute;
    top: 0px;
}

.Area-uno, .Area-2, .Area-3, .Area-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Area-uno {
    grid-area: Area-uno;    
    width: 100%;
    height: auto;
    margin-bottom: 90%;  
    
}

.Area-uno .Equipo-1 {
    position: absolute;
    top: 2.2vh;
    left: 0;
    background-color: #333;
    padding: 41px 0;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 0%;
    height: 5%;
    transition: 1.25s;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.Area-uno .Equipo-1 li {
    transition: 1s;
    width: 80px;
    height: 80px;
    gap: 10px;
    overflow: hidden;
    box-sizing: border-box;
    gap: 10px;
    margin-right: 60px;
}

.Area-uno:hover .Equipo-1 {
    width: 30vw;
    filter: drop-shadow(0 0 15px #ff3b76);
}

.Area-uno:hover #logo{
    filter: drop-shadow(0 0 15px #ff3b76);
}


.Area-2 {
    grid-area: Area-2;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.Area-2 #logo-2 {
    margin-bottom: 15%;
}


.Area-2 .Equipo-2 {
    position: absolute;
    bottom: 2vh;
    left: 0;
    background-color: #333;
    padding: 60px 0;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 0;
    height: 5%;
    transition: 1.25s;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.Area-2:hover #logo-2 {
    filter: drop-shadow(0 0 15px #fffb00);
}


.Area-2 .Equipo-2 li {
    margin-right: 60px;
    transform: translateX(-200px);
    transition: 1s ease-in-out;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.Area-2:hover .Equipo-2 {
    width: 30vw;
    filter: drop-shadow(0 0 15px #fffb00);
}

.Area-3 {
    grid-area: Area-3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.Area-3 .equipo-3 {
    translate: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 30px 0;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 50vw;
    height: 20%;
    transition: 1.25s;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.Area-3:hover .equipo-3 {
    translate: -30%;
    filter: drop-shadow(0 0 15px #00d5ff);
}

.Area-3 #logo-3 {
    margin-bottom: 100%;
}

.Area-4 {
    grid-area: Area-4;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;    
}

.Area-4 #logo-4 {
    margin-bottom: 15%;
}


.Area-4 .equipo-4 {
    translate: 100%;    
    position: absolute;
    bottom: 2vh;
    left: 0;
    background-color: #333;
    padding: 48px 0;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 50vw;
    height: 20%;
    transition: 1.25s;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.Area-4:hover .equipo-4 {
    translate: -40%;
    filter: drop-shadow(0 0 15px #26ff00);
}

.ruleta {
    grid-area: ruleta;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90%;
    max-height: 90%;
    margin: 0;   
    
}

.Bar {
    grid-area: Bar;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

app-sombrero {
    position: absolute; 
    top: -115%; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 10;        
}



.Area-uno img,
.Area-2 img,
.Area-3 img,
.Area-4 img {
    width: 100px;
    height: 100px;
    z-index: 10;
}

ul li img {
    width: 100px;   
}
@media (max-width: 1920px) {

    .container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
        grid-template-rows: auto auto 0.4fr;     
        grid-template-areas:
            "Area-uno . . Area-3"
            ". ruleta ruleta ."
            "Area-2 Bar Bar Area-4";      
        cursor: url('../../../assets/LaVaritaDeHarry/VaritaCursorBody.png') 0 0, auto;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        z-index: 10;
        overflow: hidden;       
        
    }

    app-sombrero {
        position: absolute; /* Posiciona el sombrero en relación con la ruleta */
        top: -55%; /* Ajusta este valor según la altura del sombrero y ruleta */
        left: 50%; /* Centra el sombrero horizontalmente */
        transform: translateX(-50%); /* Ajuste fino para centrar exactamente */
        z-index: 10;     
        
    }

    .ruleta {
        grid-area: ruleta;        
        width: 100%;
        min-height: 90%;
        max-height: 90%;
        margin: 0;  
        align-items: center; 
        
    }
    
    .Area-uno img  {
        width: 100px;
        height: 100px;
        z-index: 10;
       margin-top: 10%;
       margin-right: 40%;
    }

    .Area-2 img  {
        width: 100px;
        height: 100px;
        z-index: 10;      
       margin-right: 40%;
    }

   .Area-3 img {
    width: 100px;
    height: 100px;
    z-index: 10;
    margin-top: 5%;
    margin-left: 40%;
   }

   .Area-4 img {
    width: 100px;
    height: 100px;
    z-index: 10;    
    margin-left: 40%;
   }

    

    

    
}



@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "Area-uno"
            "ruleta"
            "Area-2"
            "Area-3"
            "Area-4"
            "Bar"; 
        height: auto;
    }

    .Area-uno, .Area-2, .Area-3, .Area-4, .ruleta, .Bar {
        width: 100%;
        padding: 10px;
    }

    #sombrero {
        top: 10px;
    }

    .LetraPotter .HarryFont {
        font-size: 40px;
    }
}
