

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/Img/Background/Sorteo_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    zoom: 1
    ;

}

.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: auto auto 0.4fr;
    grid-template-areas:
        "Area-uno . . Area-3"
        ". ruleta ruleta ."
        "Area-2 Bar Bar Area-4";
    cursor: url('../../../assets/LaVaritaDeHarry/VaritaCursorBody.png') 0 0, auto;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;

}


.LetraPotter .HarryFont {
    text-align: center;
    color: rgb(197, 174, 4);
    text-shadow: rgb(0, 151, 245) 0 0 20px;
    font-size: 80px;
    margin: 0;
    width: 100%;
    overflow: hidden;
}


.Area-uno,
.Area-2,
.Area-3,
.Area-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Area-uno {
    grid-area: Area-uno;
    width: 100%;
    height: auto;
    margin-bottom: 90%;

}

.Area-uno #logo {
    margin-top: 0%;
}

.Area-uno .Equipo-1 {
    position: absolute;
    top: 2.2vh;
    left: 0;
    background-color: #333;
    padding: 25px 0px;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 0%;
    height: 5%;
    transition: 1.25s;
    display: flex;
    justify-content: start;
    align-items: center;
}

.Area-uno .Equipo-1 li {
    transition: 1s ease-in-out;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.Area-uno:hover .Equipo-1 {
    width: 30vw;
    filter: drop-shadow(0 0 15px #ff3b76);
}

.Area-uno:hover #logo {
    filter: drop-shadow(0 0 15px #ff3b76);
}


.Area-2 {
    grid-area: Area-2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;    
    width: 100%;
    height: 0%;    
    
}

.Area-2 #logo-2 {
    margin-bottom: 20px;
    width: 90px;
    height: 90px;
}


.Area-2 .Equipo-2 {
    position: absolute;
    bottom: 2vh;
    left: 0;
    background-color: #333;
    padding: 45px 0;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 0%;
    height: 5%;
    transition: 1.25s;
    display: flex;
    justify-content: start;
    align-items: center;

}

.Area-2:hover #logo-2 {
    filter: drop-shadow(0 0 15px #fffb00);
}


.Area-2 .Equipo-2 li {
    transition: 1s ease-in-out;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    gap: 2.5vw;
}

.Area-2:hover .Equipo-2 {
    width: 30vw;
    filter: drop-shadow(0 0 15px #fffb00);
    position: absolute;
}

.Area-3 {
    grid-area: Area-3;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.Area-3 .equipo-3 {
    translate: 100%;
    position: absolute;
    bottom: 2vh;
    left: 0;
    background-color: #333;
    padding: 45px 0;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 56vw;
    height: 10%;
    transition: 1.25s;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 30%;
}

.Area-3 .equipo-3 li {
    width: 80px;
    height: 80px;
    transition: 1s ease-in-out;
    margin-left: 30%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 2vw;
}

.Area-3:hover .equipo-3 {
    translate: -30%;
    filter: drop-shadow(0 0 15px #00d5ff);
}

.Area-3 #logo-3 {
    margin-bottom: 90%;
}

.Area-4 {
    grid-area: Area-4;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 0;
}

.Area-4 #logo-4 {
    margin-bottom: 20px;
    width: 90px;
    height: 90px;
}

.Area-4 .equipo-4 {
    translate: 100%;
    position: absolute;
    bottom: 2vh;
    left: 0;
    background-color: #333;
    padding: 45px 0;
    list-style: none;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 56vw;
    height: 10%;
    transition: 1.25s;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 30%;
}

.Area-4 .equipo-4 li {
    width: 80px;
    height: 80px;
    transition: 1s ease-in-out;
    margin-left: 30%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 3vw;
}

.Area-4:hover .equipo-4 {
    translate: -40%;
    filter: drop-shadow(0 0 15px #26ff00);
}

.ruleta {
    grid-area: ruleta;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.Bar {
    grid-area: Bar;
    display: flex;
    justify-content: center;
    align-items: center;

}

app-sombrero {
    margin-top: -20%;
}

.Area-uno img,
.Area-2 img,
.Area-3 img,
.Area-4 img {
    width: 90px;
    height: 90px;
    z-index: 10;
}

ul li img {
    width: 80px;
    height: 80px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #d0bb00;
    font-size: 60px;
    cursor: pointer;
  }
  
  #Volumen {
      position: absolute;
      display: flex;
      top: 4dvh;
      flex-direction: row;
      justify-content: start;
      margin-right: 3.5dvw;    
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #b0b0b0;
    border-radius: 16rem;
    height: 0.5rem;
  }
  
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px;
    background-color: #d0bb00;
    border-radius: 5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #d0bb00;
    outline-offset: 0.125rem;
  }

@media (min-width: 1920px) {

    .container {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
        grid-template-rows: auto auto 0.4fr;
        grid-template-areas:
            "Area-uno . . Area-3"
            ". ruleta ruleta ."
            "Area-2 Bar Bar Area-4";
        cursor: url('../../../assets/LaVaritaDeHarry/VaritaCursorBody.png') 0 0, auto;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        z-index: 10;
    }

    app-sombrero {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

    }

    .ruleta {
        grid-area: ruleta;
        width: 100%;
        min-height: 90%;
        max-height: 90%;
        margin: 0;
        align-items: center;

    }

    .Area-uno {
        grid-area: Area-uno;
        width: 100%;
        height: auto;
        margin-bottom: 90%;    
    }
    .Area-uno img {
        width: 200px;
        height: 150px;
        z-index: 10;
        margin-top: 10%;
        margin-right: 40%;
    }
    
    .Area-uno .Equipo-1 {
        position: absolute;
        top: 2.2vh;
        left: 0;
        background-color: #333;
        padding: 50px 0;
        list-style: none;
        margin: 0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 0%;
        height: 5%;
        transition: 1.25s;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .Area-2 .Equipo-2 {
        position: absolute;
        bottom: 2vh;
        left: 0;
        background-color: #333;
        padding: 75px 0;
        list-style: none;
        margin: 0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 0;
        transition: 1.25s;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .Area-2 {
        grid-area: Area-2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;    
        width: 100%;
        height: 0%;  
        margin-bottom: -100%;  
        
}

    .Area-2 #logo-2 {
        width: 150px;
        height: 150px;
        z-index: 10;
        margin-right: 40%;
        margin-bottom: 10%;

    }

    .Area-3 img {
        width: 150px;
        height: 150px;
        z-index: 10;
        margin-top: -2%;
        margin-left: 40%;
    }

    .Area-3 .equipo-3 {
        translate: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #333;
        padding: 36px 0;
        list-style: none;
        margin: 0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 56vw;
        height: 20%;
        transition: 1.25s;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .Area-3 .equipo-3 li {
        width: 80px;
        height: 80px;
        transition: 1s ease-in-out;
        margin-left: 30%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 2vw;
    }

    .Area-4 #logo-4 {
        width: 150px;
        height: 150px;
        z-index: 10;
        margin-left: 40%;
    }

    .Area-4 .equipo-4 {
        translate: 100%;
        position: absolute;
        bottom: 2vh;
        left: 0;
        background-color: #333;
        padding: 65px 0;
        list-style: none;
        margin: 0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 56vw;
        height: 10%;
        transition: 1.25s;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 30%;
    }

    .Area-4 .equipo-4 li {
        width: 80px;
        height: 80px;
        transition: 1s ease-in-out;
        margin-left: 30%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 3vw;
    }







}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "Area-uno"
            "ruleta"
            "Area-2"
            "Area-3"
            "Area-4"
            "Bar";
        height: auto;
    }

    .Area-uno,
    .Area-2,
    .Area-3,
    .Area-4,
    .ruleta,
    .Bar {
        width: 100%;
        padding: 10px;
    }

    #sombrero {
        top: 10px;
    }

    .LetraPotter .HarryFont {
        font-size: 40px;
    }
}