    <div class="Componente"> 
        <div class="Blur">
            <div class="Escudo"><img class="EscudoInicio" src="../../../assets/Img/Logos/InicioLogo/HogwartsLogo.png" alt="Escudo de Inicio">
            </div>    
            <div class="HarryStyles"><p class="HarryFont">!!!Bienvenido al encuentro tecnologico 2024!!!</p>
            </div>    
            <div class="ContenedorBoton">
                <button id="IniciarSorteo" class="HarryFont" (click)="iniciarSorteo('sorteo')">Iniciar Sorteo</button>
            </div>
        </div>
    </div> 