<app-sombrero id="sombrero"></app-sombrero>
<div class="ruleta-container">
    <div class="ruleta">
        <!-- Cada .seccion representa una opción en la ruleta -->
        <div class="seccion">
            <img id="img-4" src ="../../../assets/Img/Casas/Ravenclaw Png.png" alt="">
        </div>
        <div class="seccion">
            <img id="img-3" src="../../../assets/Img/Casas/Slytherin-png.png" alt="">
        </div>
        <div class="seccion">
            <img id="img-2" src="../../../assets/Img/Casas/HafflePuff.png" alt="">
        </div>
        <div class="seccion">
            <img id="img-1" src="../../../assets/Img/Casas/IA-1.png" alt="">
        </div>
        <!-- Añade tantas secciones como necesites -->
    </div>
</div>