<div class="Conteiner">
    <div class="contendor">
        <div class="buuble buuble-botton-left"  
        [class.show]="showBubble"  
        >
        <p class="HarryFont">{{casaSeleccionada}}</p>
    </div>
    
    
</div>
<div class="ruleta-container">
        <div class="ruleta"
        [style.transform]="transformStyle" [style.transition]="transitionStyle"
        >           
            <div class="seccion">
                <img id="img-4" src ="../../../assets/Img/Casas/Ravenclaw Png.png" alt="Ravenclaw">
            </div>
            <div class="seccion">
                <img id="img-3" src="../../../assets/Img/Casas/Slytherin-png.png" alt="Slytherin">
            </div>
            <div class="seccion">
                <img id="img-2" src="../../../assets/Img/Casas/HafflePuff.png" alt="HafflePuff">
            </div>
            <div class="seccion">
                <img id="img-1" src="../../../assets/Img/Casas/IA-1.png" alt="Griffindor">
            </div>
            
        </div>
        <div class="circle-with-arrow"
        (click)="spinRuleta()"
        >
          <div class="circle">
            <div class="arrow"></div>
          </div>
        </div>
    </div>

