<div class="container">
    <div class="escuela">Escudo1</div>
    <div class="escuela">Escudo2</div>
    <div class="escuela">Escudo3</div>
    <div class="escuela">Escudo4</div>
    <div class="escuela">Escudo5</div>
    <div class="escuela">Escudo6</div>
    <div class="escuela">Escudo7</div>
    <div class="escuela">Escudo8</div>
    <div class="escuela">Escudo9</div>
    <div class="escuela">Escudo10</div>
    <div class="escuela">Escudo11</div>
    <div class="escuela">Escudo12</div>
</div>