.container {
    max-width: 400px;
    max-height: 120px;
    border: 6px groove black;
    display: flex;  
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    border-radius: 4px;   

}

.container::-webkit-scrollbar {
    width: 0;
    height: 10px;
}


.container .escuela {
    min-width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ddd;
    margin-right: 4px;
   
}



.escuela:hover {
    transform: scale(1.1);
}