.container {
    background-image: url('../../../assets/Img/Background/Puntuaciones_Background.webp');
    cursor: url('../../../assets/LaVaritaDeHarry/VaritaCursorBody.png') 0 0 ,auto;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    gap: 1em;    
   display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap; 
}

/* .banderin {
    height: 35%;
    width: 25%;
    position: relative;
    margin-top: 2%;
} */

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-top: 92%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #d0bb00;
    font-size: 60px;
    cursor: pointer;
  }
  
  #Volumen {
      position: absolute;
      display: flex;
      top: 1000px;
      flex-direction: row;
      justify-content: start;
      margin-left: 830px;    
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #b0b0b0;
    border-radius: 16rem;
    height: 0.5rem;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px;
    background-color: #d0bb00;
    border-radius: 5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #d0bb00;
    outline-offset: 0.125rem;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-size: cover;
    background-position: end;
    height: 80%;
    width: 12%;
    margin-left: 50px;
    margin-right: 50px;
  }

  .casa-logo {    
    height: 15vh; 
  }

  .casaPunto {    
    height: 15vh;
    margin-top: 2%; 
  }

  .score {
    font-size: 4.6vh;
    color: #fff;
    margin-top: 70px;    
  }

  .selector-score {
    position: absolute;
    bottom: 20%;
    right: 43.5%;      
    display: flex;
    border: 2px inset #d0bb00;
    background-color: #b0b0b0;
  }

  .nav-arrow {
    background-color: gray;
    font-size: 26px;
    cursor: pointer;
    border: 2px inset #d0bb00;
    height: 170px;
    width: 40px;    
  }

  .score-display {
    position: absolute;
    bottom: 6%;
    right: 47.5%;  
    width: 100px;
    font-size: 40px;
    text-align: center;
    color: #d0bb00;   
  }

  .score-input {
    width: 80px;
    height: 80px;
    font-size: 4.6vh;
    padding: 5px;
    text-align: center;
    border-radius: 50%; 
    border: 5px solid #d0bb00;
    background-color: #b0b0b0;
  }

  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  